<h1>Editing Post</h1>

<%= render 'form', home: @home %>
<div class="pull-right">
  <%= link_to 'Show', @home, class: 'btn btn-warning' %> |
  <%= link_to 'Back', homes_path, class: 'btn btn-default' %>
</div>
